
body{
    margin: 0;
    padding: 0;
    background: #f0f6ff url('../imagenes/fondo_abstracto.jpg') repeat-x;
    font-size: 14px;
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    line-height: 18px;
}
.inicio .name h1{
    font-size: 22px;
    color: rgba(55, 69, 109, 0.993);
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

.inicio .img{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skew(5deg);
    overflow: hidden;
}

.inicio .img img{
    width: 180px;
    height: 180px;
}
.menu{
    list-style: none;
    padding: 0;
    background: #bcd3f191;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
}

menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
    font-size: 17px;
}

.menu li a:hover{
    background: #144d5e;
}
.name{
  width: 100%;
  height: 200px;
  background: #bcd3f191;
  font-family: 'Trebuchet MS', sans-serif;
}

.name .content{
    width: 50%;
    height: 50%;
    position:  absolute;
    left: 25%;
}
.name .content .p{
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}
.name .content .p2{
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 0px;
}
#footer{
    border-top: double;
    clear: both;
    height: 66px;
    text-align: center;
    color: black;
    padding-top: 15px;
}

.info{
    width: 90%;
    height: auto;
    background: #bcd3f191;
    margin: 5% auto;
    padding: 20px;
    text-align: justify;
}
.cursos{
    width: 90%;
    height: auto;
    background: #bcd3f191;
    margin: 5% auto;
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.cursos .titulo1{
    font-weight: bolder;
    text-align: justify;
    font-size: 22px;
    font-family:'Trebuchet MS', sans-serif;
}
.competencias{
    width: 90%;
    height: auto;
    background: #bcd3f191;
    margin: 5% auto;
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.competencias .titulo2{
    font-weight: bolder;
    text-align: justify;
    font-size: 22px;
    font-family:'Trebuchet MS', sans-serif;
}
.hobbies{
    width: 90%;
    height: auto;
    background: #bcd3f191;
    margin: 5% auto;
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: justify;
}
.hobbies .titulo3{
    font-weight: bolder;
    text-align: justify;
    font-size: 22px;
    font-family:'Trebuchet MS', sans-serif;
}